extends ../layout/layout

block meta 
    include  ../partials/_google_auth_meta

block css
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;500&display=swap" rel="stylesheet">
    <link href="/css/user_login.css" rel="stylesheet">

block script 
    <script defer src="https://www.recaptcha.net/recaptcha/api.js?hl=zh-CN"></script>
    <script defer src="/js/recaptchaV3.js"></script>
    <script defer src="/js/platform.js"></script>
    <script defer src="/js/google_auth.js"></script>

block body
     div(class="full-screen-container") 
        div(class="login-container")
            h3(class="login-title") Welcome 欢迎
            include ../partials/_errorMessages
            form(action='/user' method="POST" id="form") 
                div(class="input-group")
                    label Email / 邮箱地址 
                    input(type="email" id="email" name="email" value=email)
                div(class="input-group")    
                    label Password / 密码 
                    input(type="password" id="password" name="password")
                button(type="submit" 
                        class="login-button g-recaptcha"
                        data-badge="bottomleft"
                        data-sitekey="6LeRXVkaAAAAAOb-WsEJ9Hr24GrytKSu2nDuf3tJ"
                        data-callback='onSubmit'
                        data-action="submit") Sign in / 登入
                div(class="new-account") 
                    a(href="/user/signup") Create a new account 创建账号
                    div(class="g-signin2" data-onsuccess="onSignIn")